{% extends "base.html" %}
{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>{{ artwork.title }}</h1>
        <p>{{ artwork.info | linebreaks }}</p>
    <small>
        Categories:&nbsp;
        {% for category in artwork.categories.all %}
        <a href="{% url 'artwork_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>

    <img class="card-img-top" src="{{ artwork.image.url }}" alt="Artwork photo">  

</div>

{% endblock %}
