{% extends "base.html" %}
{% block page_content %}

<div class="album py-5 bg-dark text-light">
    <div class="container">   
        <h1> My latest artworks </h1>
        <hr>   
        <div class="row">
        {% for artwork in artworks %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
            <div class="card-body bg-dark text-light">
                <p class="card-text">{{ artwork.title}}</p>
                <img class="card-img-top" src="{{ artwork.image.url }}" alt="Artwork photo">
                <div class="d-flex justify-content-between align-items-center">
                    {{ artwork.info}}
                </div>
                <small class="text-muted">
                    in category:&nbsp;
                    {% for category in artwork.categories.all %}
                    <a href="{% url 'artwork_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                    {% endfor %}
                </small>
                <div class="btn-group">
                    <a href = "{% url 'artwork_detail' artwork.id %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button> 
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}

    {% if artworks.has_other_pages %}
        <ul class="pagination">
            {% if artworks.has_previous %}
                <li><a href="?page={{ artworks.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
                {% for i in artworks.paginator.page_range %}
                    {% if artworks.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            {% if artworks.has_next %}
                <li><a href="?page={{ artworks.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}


{% endblock %}